
// Impede execução de scripts dentro da pasta uploads para segurança
<FilesMatch "\.(php|pl|py|jsp|asp|sh|cgi)$">
    Order Deny,Allow
    Deny from all
</FilesMatch>

// Permitir acesso apenas a arquivos estáticos
<FilesMatch "\.(pdf|jpe?g|png|gif)$">
    Order Allow,Deny
    Allow from all
</FilesMatch>
